
/* div[data-resize-handle-state="hover"] .panel_div :hover{
    background-color: 	#d6d5d5 !important;
} */

div[data-resize-handle-state="drag"] .panel_div_light_drag{
    background-color: #d6d5d5 !important;
}
div[data-resize-handle-state="drag"] .panel_div_dark_drag{
    background-color: rgba(34, 32, 32, 0.724) !important;
}


/* *{
    cursor:col-resize;
} */