/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/components/question_page.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
#panel_div{
    background-color:rgb(250, 250, 250)
}
div[data-resize-handle-state="hover"] div{
    background-color: 	#d6d5d5 !important;
}

div[data-resize-handle-state="drag"] div{
    background-color: #d6d5d5 !important;
}

/* *{
    cursor:col-resize;
} */
