.sticky {
    width: 100%;
    background-image: url('/head-1.png');   
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
  }

.page-header-content{
    display: flex;
    flex-direction: column;
    flex-shrink: 2/3;
}
  
.header-para{
    color: grey;
    max-width: 400px;
    font-size: 1.5vw;
}

  @-webkit-keyframes move {
    0% {
        -webkit-transform:translateY(0)
    }

    50% {
        -webkit-transform: translateY(-10%);
        transform:translateY(-10%)
    }

    100% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }
}

.header-img{
    position: relative;
    animation: move 4s linear 0s infinite;
    flex-basis: 60%;
    flex-shrink: 1/10;
}


.page-heading-main{
    font-size: 10vw;
    letter-spacing: 4vw;
    color: #071952;
}

.page-subheading-main{
    text-decoration: underline;
    margin-top: 2rem;
    color: gray;
    font-size: 2vw;
}

.page-subheading-main:hover{
    text-decoration: none;
    color: black;
    font-size: 2.2vw;
    transition: all 1.5s;
}